<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Marcidia.FileLogger" type="Marcidia.Logging.Configuration.FileLoggerConfigurationHandler, Marcidia.Core"/>
  </configSections>
  
  <Marcidia.FileLogger LogFolder="Log"/>
      
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
