<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Marcidia.FileLogger" type="Marcidia.Logging.Configuration.FileLoggerConfigurationHandler, Marcidia.Core"/>
    <section name="Marcidia.Net.Telnet" type="Marcidia.Net.Telnet.Configuration.TelnetListenerConfigurationSectionHandler, Marcidia.Net.Telnet" />
  </configSections>

  <Marcidia.FileLogger LogFolder="Log"/>

  <Marcidia.Net.Telnet>
    <ConnectionSource Name="PlayerPort" IPAddress="127.0.0.1" Port="9010" />
  </Marcidia.Net.Telnet>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
