<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Marcidia.FileLogger" type="Marcidia.Logging.Configuration.FileLoggerConfigurationHandler, Marcidia.Core"/>
    <section name="Marcidia.Net.Telnet" type="Marcidia.Net.Telnet.Configuration.TelnetListenerConfigurationSectionHandler, Marcidia.Net.Telnet" />
    <section name="Marcidia.Sessions" type="Marcidia.Sessions.Configuration.SessionStartConfigurationSectionHandler, Marcidia.Core"/>
  </configSections>

  <Marcidia.FileLogger LogFolder="Log"/>

  <Marcidia.Net.Telnet>
    <ConnectionSource Name="AdminPort" IPAddress="127.0.0.1" Port="9011" />
  </Marcidia.Net.Telnet>

  <Marcidia.Sessions>
    <SessionStartConfiguration ConnectionSource="AdminPort" InitialState="Marcidia.Game.Admin.SessionStates.AdminSplashScreenState, Marcidia.Game.Admin" />
  </Marcidia.Sessions>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
